{% extends 'admin/base_site.html' %} {% load static %} {% block content %}
<head>
    <link rel="stylesheet" href="{% static 'starwars/css/style.css' %}" />
  </head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    function getChildren($row) {
      var children = [];
      while ($row.next().hasClass("child")) {
        console.log("clicked!!");
        children.push($row.next());
        $row = $row.next();
      }
      return children;
    }
  
    function handlecollapse(e) {
      var children = getChildren(e);
      $.each(children, function () {
        $(this).toggle();
      });
    }
  </script>
  
  <div>
    {% csrf_token %}
    <h1>{{form_title}}</h1>
    <h2>{{description}}</h2>
    <br />
    <br />
    <h1>Preview Export <span id="file_name"></span></h1>
    <div
      style="display: flex; justify-content: space-between; margin-bottom: 10px"
    >
      <span style="font-weight: bold; font-size: 18px"
        >Total entries: <span id="entries">{{total_count}}</span></span
      >
      <button class="downloadBtn" id="downloadReport" style="display: none">
        Download
      </button>
    </div>
    <table>
      <tr>
        {% for header in headers %}
        <th>{{header}}</th>
        {% endfor %}
      </tr>
    </table>
    <div id="spinner" class="loader" style="display: none"></div>
  </div>
  {{fileName|json_script:"fileName"}}
  <br />
  {{endpoint|json_script:"endpoint"}}  
<script>
$(document).ready(() => {
  // rest of the variables.
  let allData = parseInt($("#entries").text());
  let file_name = JSON.parse($("#fileName").text());  
  let endpoint = JSON.parse($("#endpoint").text());


  // pagination variables
  let pageSize = 100;
  let pages = 0;
  let pageObjs = [];

  if (allData > 0) {
    pages = Math.ceil(allData / pageSize);
    for (let pageNo = 1; pageNo <= pages; pageNo++) {
      let limit = pageNo * pageSize;
      let offset = pageNo * pageSize - pageSize;
      if (limit >= allData) {
        limit = allData;
      }
      pageObjs.push({ limit: limit, offset: offset });
    }
    let looper = $.Deferred().resolve();
    // $.when.apply is the way to call multiple AJAX calls
    // apply functions accepts two arguments => (this,array of requests)
    // for array of requests we are using map function to loop over pageObjs
    // that returns AJAX request
    $.when
      .apply(
        $,
        $.map(pageObjs, (pageObj, i) => {
          looper = looper.then(() => {
            return callExportRequest(pageObj);
          });
          return looper;
        })
      )
      .then((res) => {
        // once all requests are finished then enable download report button        
        $("#downloadReport").show();
      })
      .catch((err) => {
        console.log(err);
      });
  }

  function callExportRequest(pageObj) {
    let deferred = $.Deferred();
    let offset = pageObj.offset;
    let limit = pageObj.limit;

    $.ajax({
      type: "POST",
      dataType: "json",
      url: endpoint,
      data: {
        offset: JSON.stringify(offset),
        limit: JSON.stringify(limit),
        csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
        action: "post",
      },
      beforeSend: () => {
        $("#spinner").show();
      },
      success: function (data) {
        // here we will update our DOM to show the rows from queryset
        data.results.forEach((obj) => {
          let cols = "";
          Object.entries(obj).map(([key, val]) => {
            cols = cols + `<td>${val}</td>`;
          });
          $("table").append(`<tr class="child">${cols}</tr>`);
        });
        deferred.resolve(data);
      },
      complete: () => {
        $("#spinner").hide();
      },
    });
    return deferred.promise();
  }

  $("#downloadReport").click(() => {
    var html = document.querySelector("table").outerHTML;
    export_table_to_csv(html, file_name.split(".csv")[0] + "_data.csv");
  });

  function export_table_to_csv(html, filename) {
    var csv = [];
    var rows = document.querySelectorAll("table tr");

    for (var i = 0; i < rows.length; i++) {
      var row = [],
        cols = rows[i].querySelectorAll("td, th");

      for (var j = 0; j < cols.length; j++) row.push(cols[j].innerText);

      csv.push(row.join(","));
    }
    download_csv(csv.join("\n"), filename);
  }

  function download_csv(csv, filename) {
    var csvFile;
    var downloadLink;

    csvFile = new Blob([csv], { type: "text/csv" });
    downloadLink = document.createElement("a");
    downloadLink.download = filename;
    downloadLink.href = window.URL.createObjectURL(csvFile);
    downloadLink.style.display = "none";
    document.body.appendChild(downloadLink);
    downloadLink.click();
  }
});
</script>
{% endblock %}